.header {
  background-color: $color-default-white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px 35px 0 35px;

  @media (max-width: $viewport--lg) {
    padding: 1rem 1rem 0 1rem;
  }

  &__container {
    display: flex;
    position: absolute;
    top: 45%;

    @keyframes minifyContainer {
      to {
        top: 2.5%;
        justify-content: space-between;
        position: initial;
      }
    }
  }

  &__group {
    animation: group 4s forwards ease-in-out;

    @keyframes group {
      0% {
        opacity: 0;
        z-index: -1;
      }
      10% {
        opacity: 0;
      }
      20% {
        opacity: 0;
      }
      30% {
        opacity: 0;
      }
      40% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      60% {
        opacity: 0;
      }
      70% {
        opacity: 0;
      }
      80% {
        opacity: 0;
      }
      90% {
        opacity: 0;
      }
      100% {
        opacity: 1;
        z-index: 1;
      }
    }

    @keyframes groupMinify {
      to {
        max-width: 19.9%;
        margin: 0;
      }
    }

    @media (max-width: $viewport--lg) {
      max-width: 72%;
      margin: 0 auto;
    }
  }

  &__case-background {
    left: 44.3%;
    top: 1%;
    height: 100%;
    min-width: 74px;
    position: absolute;
    background: url("../img/header/flag.svg") center no-repeat;
    background-size: cover;
    margin: 0 2rem;
    animation: case-background forwards 2s 2 linear;

    @keyframes case-background {
      from {
        transform: scale(1);
      }
      50% {
        transform: scale(.5);
      }
      to {
        transform: scale(1);
      }
    }
  }

  &__case-letter {
    max-width: none;
    position: absolute;
    top: 19%;
    left: 14px;
    animation: letter 2s 2 ease-in-out;

    @keyframes letter {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  &__navigation {
    justify-content: space-between;
    display: none;
    transform: translate(500px, 0);

    a:not(:first-child) {
      margin-left: 24px;
    }

    @keyframes navTransform {
      50% {
        transform: translate(0, 0);
        display: flex;
      }
      75% {
        transform: translate(50px, 0);
      }
      to {
        transform: translate(0, 0);
      }
    }
  }

  &__mobile-navigation {
    display: none;
    flex-direction: column;
    justify-content: center;
  }

  &__mobile-btn {
    display: none;
    transform: translate(50px, 0);

    @keyframes mobile-btn {
      50% {
        transform: translate(0, 0);
      }
      75% {
        transform: translate(25px, 0);
      }
      to {
        transform: translate(0, 0);
      }
    }
  }

  &__mobile-item {
    width: 30px;
    height: 2px;
    background-color: $color-neon-blue;

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__press-enter {
    position: absolute;
    bottom: 10%;
    font-size: 2rem;
    animation: enter 4s ease-in-out;

    @keyframes enter {
      0% {
        opacity: 0;
        z-index: -1;
      }
      10% {
        opacity: 0;
      }
      20% {
        opacity: 0;
      }
      30% {
        opacity: 0;
      }
      40% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      60% {
        opacity: 0;
      }
      70% {
        opacity: 0;
      }
      80% {
        opacity: 0;
      }
      90% {
        opacity: 0;
      }
      100% {
        opacity: 1;
        z-index: 1;
      }
    }
  }

  &__press-inner {
    animation: enter-flicker 2s infinite ease-in-out;

    @keyframes enter-flicker {
      from {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
