.main {
  display: none;
  padding: 46px 35px 0 35px;
  height: 100%;

  @media (max-width: $viewport--lg) {
    padding: 0 1rem 0 1rem;
  }

  &__case {
    margin-top: 46px;
    transform: translate(500px,0);

    @keyframes caseTransform {
      50% {
        transform: translate(0,0);
      }

      75% {
        transform: translate(50px,0);
      }

      to {
        transform: translate(0,0);
      }
    }
  }

  &__title {
    font-family: Neue Machina, serif;
    font-size: 96px;
    line-height: 96px;
    max-width: 562px;
    font-style: normal;
    font-weight: normal;
    color: $color-default-black;
    margin-top: 118px;
    transform: translate(-560px,0);
    opacity: 0;
    z-index: -1;

    @keyframes titleTransform {
      20% {
        color: $color-default-black;
      }

      75% {
        transform: translate(0,0);
      }

      85%{
        transform: translate(-50px,0);
      }

      to {
        transform: translate(0,0);
        opacity: 1;
        z-index: 2;
        color: $color-neon-blue;
      }
    }
  }

  &__case-img {
    margin-bottom: 36px;
    opacity: 0;

    @keyframes caseImg {
      30% {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  &__case-subtitle {
    max-width: 352px;
    font-family: Neue Machina, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
  }
}
