// Vendor
//---------------------------------

@import "vendor/normalize";
// @import "vendor/swiper";

// Global
//---------------------------------

@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
//---------------------------------

body {
  background-color: $color-default-black;
}

//* {
//  border: 1px solid red;
//}

.page {
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: $viewport--lg;
  min-width: $viewport--md;
  height: 100vh;
  margin: 0 auto;
  z-index: 1;
  background-color: $color-default-white;
}

@import "blocks/header";
@import "blocks/main";
@import "blocks/blue-page";


// используйте это для отключения ховеров на тач устройствах
// ! но не используйте это для текстовых полей ( input, textarea )
// также для любых transition обязательно указывайте transition-property
// transition: color $default-transition-settings, а не transition: $default-transition-settings

/* @media (hover: hover), screen and (min-width: 0\0) {
  &:hover,
  &:focus {
    color: red;
  }
} */
